<?xml version="1.0" encoding="utf-8"?>
<configuration><connectionStrings><add name="TeamStudioEntities" connectionString="metadata=res://*/Entities.TeamStudioModel.csdl|res://*/Entities.TeamStudioModel.ssdl|res://*/Entities.TeamStudioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=TeamStudio;User ID=tstudio;Password=tstudio;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>